# Python Cache Files
__pycache__
*.pyc
*.pyo


# Code coverage data
/.coverage
/htmlcov


# Poetry
/.venv
/poetry.lock


# Pytest
/.pytest_cache


# Editor Files
.vscode


# JavaScript
/node_modules
package-lock.json
package.json


# Unknown
/.cache
